{% extends "admin/index.html" %}
{% load admin_chart_tags %}
{% load static %}

{% block extrastyle %}
   {{ block.super }}
   <script src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
   {% include '../include_nvd3.html' %}
   <script src="{% url 'admin-charts' %}" type="text/javascript"></script>
   <style>
   .admin_charts {
       padding: 20px 40px;
   }
   </style>
   <script>
      
   </script>
{% endblock %}

{% block content %}
   {{ block.super }}
   {% if request.resolver_match.view_name == 'admin:index' %}
      <div class="w-100">
         {% chart_containers %}
      </div>
   {% endif %}
{% endblock %}

