{% load admin_chart_tags %}
<div id="chart_{{ chart.graph_key }}" class="chrt_container">
    <div class="chrt_flex">
        <div class="card">
            <div class="card-header">
                <h5 class="m-0">{{ chart.graph_title }}</h5>
            </div>
            <div class="card-body">
                {% get_control_form chart request.user as form %}
                {% include "./chart_form.html" %}
                <div id="chart_container_{{ chart.graph_key }}" class="chrt_svg_container">
                    <svg></svg>
                </div>
            </div>
        </div>
    </div>
</div>
